<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
!pip install ipython-sql
!pip install ipython-sql prettytable

In [ ]:
%load_ext sql

In [ ]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas

In [ ]:
%sql sqlite:///my_data1.db

In [1]:
import pandas as pd
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, text
import sqlalchemy as sa
df = pd.read_csv("Spacex.csv")
#df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

In [17]:
df['Landing_Outcome'].value_counts()

Landing_Outcome
Success                   38
No attempt                21
Success (drone ship)      14
Success (ground pad)       9
Controlled (ocean)         5
Failure (drone ship)       5
Failure                    3
Failure (parachute)        2
Uncontrolled (ocean)       2
Precluded (drone ship)     1
No attempt                 1
Name: count, dtype: int64

In [3]:
#DBMS connection interface
SERVER = 'ANIRAJ'
DATABASE = 'falcon'
authentication = 'Windows Authentication'
USERNAME = 'ANIRAJ\rajan'
PASSWORD = ''

In [4]:
connection_string = (
    'Driver=ODBC Driver 17 for SQL Server;'
    'Server=ANIRAJ;'
    'Database=falcon;'
    'UID=ANIRAJ\rajan;'
    'PWD='';'
    'Trusted_Connection=yes;'
)
connection_url = sa.engine.URL.create(
    "mssql+pyodbc", 
    query=dict(odbc_connect=connection_string)
)

conn = sa.create_engine(connection_url, fast_executemany=True)
#conn = pyodbc.connect(connection_string) 
#cursor = conn.cursor()

In [5]:
df.to_sql("SPACEXTBL", conn, if_exists='replace', index=False, method="multi")

101

In [6]:
%load_ext sql
%sql {connection_url}

In [7]:
%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[]

**Note:This below code is added to remove blank rows from table**

In [11]:
#DROP THE TABLE IF EXISTS
%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[]

In [10]:
%%sql
SELECT *
INTO SPACEXTABLE
FROM SPACEXTBL
WHERE  Date is not null;

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
(pyodbc.ProgrammingError) ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'SPACEXTABLE' in the database. (2714) (SQLExecDirectW)")
[SQL: SELECT *
INTO SPACEXTABLE
FROM SPACEXTBL
WHERE  Date is not null;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
%%sql
select distinct [Launch_Site]
from SPACEXTBL

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [13]:
%%sql
select top 5 s.Launch_Site
from SPACEXTBL s
where s.Launch_Site like 'CCA%';

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
%%sql
select sum(s.PAYLOAD_MASS__KG_)
from SPACEXTBL s
where s.Customer like 'NASA (CRS)'

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [15]:
%%sql
select avg(s.PAYLOAD_MASS__KG_)
from SPACEXTBL s
where s.Booster_Version like 'F9 v1.1'

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[(2928,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [16]:
%%sql
select min(s.Date)
from SPACEXTBL s
where Landing_Outcome like 'Success (ground pad)'

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [18]:
%%sql
select s.Booster_Version, s.PAYLOAD_MASS__KG_, s.Landing_Outcome
from SPACEXTBL s
where (s.Landing_Outcome like 'Success (drone ship)') and (s.PAYLOAD_MASS__KG_ > 4000 and s.PAYLOAD_MASS__KG_ < 6000)

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[('F9 FT B1022', 4696, 'Success (drone ship)'),
 ('F9 FT B1026', 4600, 'Success (drone ship)'),
 ('F9 FT  B1021.2', 5300, 'Success (drone ship)'),
 ('F9 FT  B1031.2', 5200, 'Success (drone ship)')]

### Task 7




##### List the total number of successful and failure mission outcomes

In [19]:
%%sql
select s.Mission_Outcome, count(s.Mission_Outcome)
from SPACEXTBL s
group by s.mission_outcome

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [20]:
%%sql
select s.Booster_Version, s.PAYLOAD_MASS__KG_
from SPACEXTBL s
where s.PAYLOAD_MASS__KG_ =  (select max(PAYLOAD_MASS__KG_) from SPACEXTBL)

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [21]:
%%sql 
select datename(m, s.Date), s.Booster_Version, s.Launch_Site, s.Landing_Outcome
from SPACEXTBL s
where YEAR(s.Date) = 2015 and (s.Landing_Outcome like 'Failure (drone ship)')

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[('January', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('April', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [22]:
%%sql
select s.Landing_Outcome, count(s.Landing_Outcome)
from SPACEXTBL s
where s.Date between '2010-06-04' and '2017-03-20'
group by s.Landing_Outcome
order by count(s.Landing_Outcome) desc

 * mssql+pyodbc://?odbc_connect=Driver%3DODBC+Driver+17+for+SQL+Server%3BServer%3DANIRAJ%3BDatabase%3Dfalcon%3BUID%3DANIRAJ%0Dajan%3BPWD%3D%3BTrusted_Connection%3Dyes%3B
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>